h2{
    color: red;
    font-family: cursive;
}

h4{
    color: blue;
    font-style: italic;
    font-family: monospace;
}

h3{
    color: darkmagenta;
    font-style: oblique;
}

ul{list-style-type: square}

ol{
    color: darkgreen;
    font-style: oblique;
    font-family: sans-serif
}

.code{
    color:darkgoldenrod;
    font-family: fantasy;
    font-style: normal;
    
}

#cool{
    color: darkorange;
    font-style: initial;
    
}

